{include file="public/head,public/nav"}
            <!-- Page title -->
            <div class="flat-row page-title  parallax parallax1">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">                    
                            <div class="page-title-heading">
                                <h1 class="title">关于我们</h1>
                                <p class="subtitle">Specialized make excellent</p>
                            </div><!-- /.page-title-captions --> 
                            <div class="breadcrumbs">
                                <p>当前位置:</p>
                                <ul>
                                    <li><a href="#">首页</a></li>
                                    <li class="active">公司简介</li>
                                </ul>                   
                            </div><!-- /.breadcrumbs --> 
                        </div><!-- /.col-md-12 -->  
                    </div><!-- /.row -->  
                </div><!-- /.container -->                      
            </div><!-- /.page-title --> 
        </div><!--  /.site-header -->
        
        <div id="site-content">
            <!-- About team -->
            <section class="about-team">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <main id="main-content" class="content">
                                <div class="main-content-wrap four-columns">
                                    <article class="member entry object">
                                        <div class="member-image">
                                            <a href="#"><img src="images/member/t8.png" alt="t8"></a>
                                            <div class="member-links">
                                                <div class="social-links">
                                                    <a href="#">
                                                        <i class="fa fa-vimeo-square"></i>
                                                    </a>
                                                    <a href="#">
                                                        <i class="fa fa-twitter"></i>
                                                    </a>
                                                    <a href="#">
                                                        <i class="fa fa-flickr"></i>
                                                    </a>
                                                    <a href="#">
                                                        <i class="fa fa-foursquare"></i>
                                                    </a>
                                                </div>
                                                
                                                <div class="more-link">
                                                    <a href="#">View Profile</a>
                                                </div>
                                            </div>
                                        </div>
                                                    
                                        <div class="member-detail">
                                            <h3 class="member-name">Bryan Hoffman</h3>
                                            <p class="member-subtitle">Co Founder &amp; Mechanic</p>
                                            <ul class="member-meta">
                                                <li class="member-phone">
                                                    <span>Tel:</span>666-888-999                 
                                                </li>
                                                
                                                <li class="member-email">
                                                    <a href="#">
                                                        themesflat.com 
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </article>

                                    <article class="member entry object">
                                        <div class="member-image">
                                            <a href="#"><img src="images/member/t6.png" alt="t8"></a>
                                            <div class="member-links">
                                                <div class="social-links">
                                                    <a href="#">
                                                        <i class="fa fa-vimeo-square"></i>
                                                    </a>
                                                    <a href="#">
                                                        <i class="fa fa-twitter"></i>
                                                    </a>
                                                    <a href="#">
                                                        <i class="fa fa-flickr"></i>
                                                    </a>
                                                    <a href="#">
                                                        <i class="fa fa-foursquare"></i>
                                                    </a>
                                                </div>
                                                
                                                <div class="more-link">
                                                    <a href="#">View Profile</a>
                                                </div>
                                            </div>
                                        </div>
                                                    
                                        <div class="member-detail">
                                            <h3 class="member-name">JAMES WILLIAMS</h3>
                                            <p class="member-subtitle">Co Founder &amp; Mechanic</p>
                                            <ul class="member-meta">
                                                <li class="member-phone">
                                                    <span>Tel:</span>666-888-999                 
                                                </li>
                                                
                                                <li class="member-email">
                                                    <a href="#">
                                                        themesflat.com 
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </article>

                                    <article class="member entry object">
                                        <div class="member-image">
                                            <a href="#"><img src="images/member/t7.png" alt="t8"></a>
                                            <div class="member-links">
                                                <div class="social-links">
                                                    <a href="#">
                                                        <i class="fa fa-vimeo-square"></i>
                                                    </a>
                                                    <a href="#">
                                                        <i class="fa fa-twitter"></i>
                                                    </a>
                                                    <a href="#">
                                                        <i class="fa fa-flickr"></i>
                                                    </a>
                                                    <a href="#">
                                                        <i class="fa fa-foursquare"></i>
                                                    </a>
                                                </div>
                                                
                                                <div class="more-link">
                                                    <a href="#">View Profile</a>
                                                </div>
                                            </div>
                                        </div>
                                                    
                                        <div class="member-detail">
                                            <h3 class="member-name">PATRICK JOHNSON</h3>
                                            <p class="member-subtitle">Mechanic</p>
                                            <ul class="member-meta">
                                                <li class="member-phone">
                                                    <span>Tel:</span>666-888-999                 
                                                </li>
                                                
                                                <li class="member-email">
                                                    <a href="#">
                                                        themesflat.com 
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </article>

                                    <article class="member entry object">
                                        <div class="member-image">
                                            <a href="#"><img src="images/member/t5.png" alt="t8"></a>
                                            <div class="member-links">
                                                <div class="social-links">
                                                    <a href="#">
                                                        <i class="fa fa-vimeo-square"></i>
                                                    </a>
                                                    <a href="#">
                                                        <i class="fa fa-twitter"></i>
                                                    </a>
                                                    <a href="#">
                                                        <i class="fa fa-flickr"></i>
                                                    </a>
                                                    <a href="#">
                                                        <i class="fa fa-foursquare"></i>
                                                    </a>
                                                </div>
                                                
                                                <div class="more-link">
                                                    <a href="#">View Profile</a>
                                                </div>
                                            </div>
                                        </div>
                                                    
                                        <div class="member-detail">
                                            <h3 class="member-name">NUNO RODRIGUES</h3>
                                            <p class="member-subtitle">Mechanic</p>
                                            <ul class="member-meta">
                                                <li class="member-phone">
                                                    <span>Tel:</span>666-888-999                 
                                                </li>
                                                
                                                <li class="member-email">
                                                    <a href="#">
                                                        themesflat.com 
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </article>

                                    <article class="member entry object">
                                        <div class="member-image">
                                            <a href="#"><img src="images/member/t4.png" alt="t8"></a>
                                            <div class="member-links">
                                                <div class="social-links">
                                                    <a href="#">
                                                        <i class="fa fa-vimeo-square"></i>
                                                    </a>
                                                    <a href="#">
                                                        <i class="fa fa-twitter"></i>
                                                    </a>
                                                    <a href="#">
                                                        <i class="fa fa-flickr"></i>
                                                    </a>
                                                    <a href="#">
                                                        <i class="fa fa-foursquare"></i>
                                                    </a>
                                                </div>
                                                
                                                <div class="more-link">
                                                    <a href="#">View Profile</a>
                                                </div>
                                            </div>
                                        </div>
                                                    
                                        <div class="member-detail">
                                            <h3 class="member-name">GHANSHYAM LODHI</h3>
                                            <p class="member-subtitle">Mechanic</p>
                                            <ul class="member-meta">
                                                <li class="member-phone">
                                                    <span>Tel:</span>666-888-999                 
                                                </li>
                                                
                                                <li class="member-email">
                                                    <a href="#">
                                                        themesflat.com 
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </article>

                                    <article class="member entry object">
                                        <div class="member-image">
                                            <a href="#"><img src="images/member/t3.png" alt="t8"></a>
                                            <div class="member-links">
                                                <div class="social-links">
                                                    <a href="#">
                                                        <i class="fa fa-vimeo-square"></i>
                                                    </a>
                                                    <a href="#">
                                                        <i class="fa fa-twitter"></i>
                                                    </a>
                                                    <a href="#">
                                                        <i class="fa fa-flickr"></i>
                                                    </a>
                                                    <a href="#">
                                                        <i class="fa fa-foursquare"></i>
                                                    </a>
                                                </div>
                                                
                                                <div class="more-link">
                                                    <a href="#">View Profile</a>
                                                </div>
                                            </div>
                                        </div>
                                                    
                                        <div class="member-detail">
                                            <h3 class="member-name">SHEKHZADA NAEEM</h3>
                                            <p class="member-subtitle">Mechanic</p>
                                            <ul class="member-meta">
                                                <li class="member-phone">
                                                    <span>Tel:</span>666-888-999                 
                                                </li>
                                                
                                                <li class="member-email">
                                                    <a href="#">
                                                        themesflat.com 
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </article>

                                    <article class="member entry object">
                                        <div class="member-image">
                                            <a href="#"><img src="images/member/t2.png" alt="t8"></a>
                                            <div class="member-links">
                                                <div class="social-links">
                                                    <a href="#">
                                                        <i class="fa fa-vimeo-square"></i>
                                                    </a>
                                                    <a href="#">
                                                        <i class="fa fa-twitter"></i>
                                                    </a>
                                                    <a href="#">
                                                        <i class="fa fa-flickr"></i>
                                                    </a>
                                                    <a href="#">
                                                        <i class="fa fa-foursquare"></i>
                                                    </a>
                                                </div>
                                                
                                                <div class="more-link">
                                                    <a href="#">View Profile</a>
                                                </div>
                                            </div>
                                        </div>
                                                    
                                        <div class="member-detail">
                                            <h3 class="member-name">JAMES ROZARIO</h3>
                                            <p class="member-subtitle">Co Founder</p>
                                            <ul class="member-meta">
                                                <li class="member-phone">
                                                    <span>Tel:</span>666-888-999                 
                                                </li>
                                                
                                                <li class="member-email">
                                                    <a href="#">
                                                        themesflat.com 
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </article>

                                    <article class="member entry object">
                                        <div class="member-image">
                                            <a href="#"><img src="images/member/t1.png" alt="t6"></a>
                                            <div class="member-links">
                                                <div class="social-links">
                                                    <a href="#">
                                                        <i class="fa fa-vimeo-square"></i>
                                                    </a>
                                                    <a href="#">
                                                        <i class="fa fa-twitter"></i>
                                                    </a>
                                                    <a href="#">
                                                        <i class="fa fa-flickr"></i>
                                                    </a>
                                                    <a href="#">
                                                        <i class="fa fa-foursquare"></i>
                                                    </a>
                                                </div>
                                                
                                                <div class="more-link">
                                                    <a href="#">View Profile</a>
                                                </div>
                                            </div>
                                        </div>
                                                    
                                        <div class="member-detail">
                                            <h3 class="member-name">CHANDANSS SAHOO</h3>
                                            <p class="member-subtitle">Co Founder & CEO</p>
                                            <ul class="member-meta">
                                                <li class="member-phone">
                                                    <span>Tel:</span>666-888-999                 
                                                </li>
                                                
                                                <li class="member-email">
                                                    <a href="#">
                                                        themesflat.com 
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </article>
                                </div>
                            </main>
                        </div>
                    </div>
                </div>
            </section>         
        </div><!--/.site-content -->
{include file="public/footer"}