{include file="public/head,public/nav"}
<!-- Slider -->
    <div class="tp-banner-container">
        <div class="tp-banner" >
            <ul>
                <li data-transition="random-static" data-slotamount="7" data-masterspeed="500" data-saveperformance="on">
                    <img src="__STATIC__/index/images/slides/slider_1.jpg" alt="slider-image" />   
                    <div class="tp-caption sfl flat-button-slider center style1" data-x="center" data-y="300" data-hoffset="0" data-speed="500" data-start="500" data-easing="Power3.easeInOut">
                        <a href="#" class="button-slider">咨询热线：123</a>
                    </div>              
                </li>

                <li data-transition="random-static" data-slotamount="7" data-masterspeed="500" data-saveperformance="on">
                    <img src="__STATIC__/index/images/slides/slider_2.jpg" alt="slider-image" />   
                    <div class="tp-caption sfl flat-button-slider center style1" data-x="center" data-y="300" data-hoffset="0" data-speed="500" data-start="500" data-easing="Power3.easeInOut">
                        <a href="#" class="button-slider">咨询热线：456</a>
                    </div>              
                </li>

                <li data-transition="random-static" data-slotamount="7" data-masterspeed="500" data-saveperformance="on">
                    <img src="__STATIC__/index/images/slides/slider_3.jpg" alt="slider-image" />   
                    <div class="tp-caption sfl flat-button-slider center style1" data-x="center" data-y="300" data-hoffset="0" data-speed="500" data-start="500" data-easing="Power3.easeInOut">
                        <a href="#" class="button-slider">咨询热线：789</a>
                    </div>              
                </li>

                <li data-transition="random-static" data-slotamount="7" data-masterspeed="500" data-saveperformance="on">
                    <img src="__STATIC__/index/images/slides/slider_4.jpg" alt="slider-image" />   
                    <div class="tp-caption sfl flat-button-slider center style1" data-x="center" data-y="300" data-hoffset="0" data-speed="500" data-start="500" data-easing="Power3.easeInOut">
                        <a href="#" class="button-slider">咨询热线：000</a>
                    </div>              
                </li>
            </ul>
        </div>
    </div>
</div><!--  /.site-header -->

<div id="site-content">
    <!-- Services -->
    <section class="flat-row services pad-bottom0px">
        <div class="container">
            <div class="row">
               <div class="three-columns">
                    <div class="images-single object">
                        <div class="thumb">
                            <a class="img-post" href="__URL__/services.html">
                                <img src="__STATIC__/index/images/services/shengchan/sc1.png" alt="image">
                            </a>
                        </div><!-- /.thumb-->
                        <div class="desc-img">
                            <h4 class="title">冷库生产现场</h4>
                            <!-- <div class="content">A Anycar Inspection is a comprehensive Vehicle Inspection advising the current state of the vehicle. It is a great way to receive independent advice…
                            </div> -->
                        </div><!-- /.desc-img -->
                    </div><!-- /.images-single -->

                    <div class="images-single object">
                        <div class="thumb">
                            <a class="img-post" href="services.html">
                                <img src="__STATIC__/index/images/services/yunshu/ys1.png" alt="image">
                            </a>
                        </div><!-- /.thumb-->
                        <div class="desc-img">
                            <h4 class="title">产品安全运输</h4>
                        </div><!-- /.desc-img -->
                    </div><!-- /.images-single -->

                    <div class="images-single object">
                        <div class="thumb">
                            <a class="img-post" href="services.html">
                                <img src="__STATIC__/index/images/services/anzhuang/az1.png" alt="image">
                            </a>
                        </div><!-- /.thumb-->
                        <div class="desc-img">
                            <h4 class="title">实地上门安装</h4>
                        </div><!-- /.desc-img -->
                    </div><!-- /.images-single -->

                    <div class="images-single object">
                        <div class="thumb">
                            <a class="img-post" href="services.html">
                                <img src="__STATIC__/index/images/services/shouhou/sh1.png" alt="image">
                            </a>
                        </div><!-- /.thumb-->
                        <div class="desc-img">
                            <h4 class="title">完善售后服务</h4>
                            <a class="button white">查看详情</a>
                        </div><!-- /.desc-img -->
                    </div><!-- /.images-single -->

               </div> <!-- /.three-columns -->
                
            </div><!-- /.row -->
        </div><!-- /.container -->   
    </section><!-- /.flat-row -->

    <section class="flat-row parallax parallax1 pad-top70px pad-bottom70px">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="title-section style1">
                        <h2 class="title">我们的服务流程</h2>
                        <p class="desc-title">简单四步，来自我们多年从业经验的总结，只为您提供最好的服务。</p>
                   </div>
                </div><!-- /.col-md-6 -->
            </div><!-- /.row -->

            <div class="flat-divider d40px"></div>

            <div class="row">
                <div class="col-md-3">
                    <div class="flat-iconbox style1">
                        <div class="icon">
                            <img src="__STATIC__/index/images/iconbox/icon1.svg" alt="images">
                        </div>
                        <div class="content">
                            <h4 class="box-title">1. 客服业务咨询</h4>
                            <p>网站、微信、淘宝 客服三位一体，全方位为您服务</p>
                        </div>
                    </div> <!-- /.flat-iconbox -->
                </div><!-- /.col-md-3 -->
                <div class="col-md-3">
                    <div class="flat-iconbox style1">
                        <div class="icon">
                            <img src="__STATIC__/index/images/iconbox/icon2.svg" alt="images">
                        </div>
                        <div class="content">
                            <h4 class="box-title">2. 产品信息确认</h4>
                            <p>根据您从事的行业及需求，确认所需冷库的数量、尺寸，签订生产合同</p>
                        </div>
                    </div> <!-- /.flat-iconbox -->
                </div><!-- /.col-md-3 -->
                <div class="col-md-3">
                    <div class="flat-iconbox style1">
                        <div class="icon">
                            <img src="__STATIC__/index/images/iconbox/icon3.svg" alt="images">
                        </div>
                        <div class="content">
                            <h4 class="box-title">3. 专业定制生产</h4>
                            <p>公司拥有独立的生产工厂，可依据用户订单，保质保量的快速生产</p>
                        </div>
                    </div> <!-- /.flat-iconbox -->
                </div><!-- /.col-md-3 -->
                <div class="col-md-3">
                    <div class="flat-iconbox style1">
                        <div class="icon">
                            <img src="__STATIC__/index/images/iconbox/icon4.svg" alt="images">
                        </div>
                        <div class="content">
                            <h4 class="box-title">4. 运输安装调试</h4>
                            <p>从冷库的生产、运输到安装，我们提供一条龙服务，让您买的舒心，用的安心</p>
                        </div>
                    </div> <!-- /.flat-iconbox -->
                </div><!-- /.col-md-3 -->
            </div><!-- /.row -->

            <div class="row">
                <div class="col-md-12">
                    <div class="flat-button" style="text-align: center;">
                        <a class="button outline">获取更多服务详情</a>
                    </div>
                </div><!-- /.col-md-12 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section><!-- /.flat-row -->

    <!-- About us -->
    <section class="flat-row popup pad-top70px pad-bottom70px">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="title-section">
                        <h2 class="title">关于谢氏制冷</h2>
                        <p class="desc-title">谢氏制冷 —— 专业的冷库设备生产制造商</p>
                   </div>
                </div><!-- /.col-md-6 -->
            </div><!-- /.row -->

            <div class="flat-divider d50px"></div>

            <div class="row">
                <div class="col-md-4">
                    <div class="images-single-flexslider">
                        <ul class="slides">
                            <li>
                                <a class="img-post popup-gallery" href="__STATIC__/index/images/images-single/1.png"><img src="__STATIC__/index/images/images-single/1.png" alt="image"></a>
                            </li>
                            <li>
                                <a class="img-post popup-gallery" href="__STATIC__/index/images/images-single/2.png"><img src="__STATIC__/index/images/images-single/2.png" alt="image"></a>
                            </li>
                            <li>
                                <a class="img-post popup-gallery" href="__STATIC__/index/images/images-single/3.png"><img src="__STATIC__/index/images/images-single/3.png" alt="image"></a>
                            </li>
                            <li>
                                <a class="img-post popup-gallery" href="__STATIC__/index/images/images-single/4.png"><img src="__STATIC__/index/images/images-single/4.png" alt="image"></a>
                            </li>
                        </ul>
                    </div><!-- /.images-single-flexslider -->
                </div><!-- /.col-md-4 -->

                <div class="col-md-4">
                    <div class="flat-about-us">
                        <p><span class="dropcap">谢</span>氏制冷科技有限公司是一家专门生产销售冷库设备，冷库板，冷库门，全套冷库设备，小型冷库设备，冷风机，保鲜冷库的专业冷库设备厂家，多年来公司生产的玻璃钢彩钢板，不锈钢系列装配式冷库广泛用于各大超市，宾馆以及海鲜水产保温场所，并以产品质量，贴心的售后服务，合理的市场价格，良好的公司信誉赢得广大客户的认可。</p>
                        <p>主要产品有：制冷设备，冷库保温板，聚氨脂板，中高低温冷库，低温实验库，速冻库，速冻隧道，单螺旋和双螺旋速冻机，真空预冷机，制冰机等</p>
                        <a class="button white">了解更多</a>
                    </div><!-- /.flat-about-us -->
                </div><!-- /.col-md-4 -->

                <div class="col-md-4">
                    <div class="flat-progress-bar">
                        <div class="flat-progress">
                            <p class="name">公司规模</p>
                            <div class="progress-bar" data-percent="80" data-waypoint-active="yes">
                                <div class="progress-animate"></div>
                            </div>
                        </div><!-- /.flat-progress -->
                        <div class="flat-progress">
                            <p class="name">客户满意度</p>
                            <div class="progress-bar" data-percent="100" data-waypoint-active="yes">
                                <div class="progress-animate"></div>
                            </div>
                        </div><!-- /.flat-progress -->
                        <div class="flat-progress">
                            <p class="name">产品竞争力</p>
                            <div class="progress-bar" data-percent="90" data-waypoint-active="yes">
                                <div class="progress-animate"></div>
                            </div>
                        </div><!-- /.flat-progress -->
                        <div class="flat-progress">
                            <p class="name">产品质量</p>
                            <div class="progress-bar" data-percent="100" data-waypoint-active="yes">
                                <div class="progress-animate"></div>
                            </div>
                        </div><!-- /.flat-progress -->
                    </div><!-- /.flat-progress -->
                </div><!-- /.col-md-4 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section><!-- /.flat-row -->

    <section class="flat-row parallax parallax2 pad-top100px pad-bottom100px">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="flat-testimonial-owl">
                        <div class="flat-testimonial">
                            <div class="testimonial-content">
                                <p>
                                    You guys do a great job. I have been taking my truck to AnyCar’s for almost three years. I always get great service and the best prices. Keep up the good work.
                                </p>
                            </div> 
                            <div class="testimonial-meta">
                                <div class="testimonial-image">
                                    <img src="__STATIC__/index/images/testimonials/star.png" alt="images">
                                </div>
                                <div class="testimonial-author">
                                    <strong class="author-name">John Doe</strong>
                                    <div class="author-info">
                                        <span class="subtitle">Project Manager</span> 
                                        <span class="divider">-</span> 
                                        <span class="company">Company LTD</span>
                                    </div>
                                </div>
                            </div>     
                        </div><!-- /.flat-testimonial -->

                        <div class="flat-testimonial">
                            <div class="testimonial-content">
                                <p>
                                    You guys do a great job. I have been taking my truck to AnyCar’s for almost three years. I always get great service and the best prices. Keep up the good work.
                                </p>
                            </div> 
                            <div class="testimonial-meta">
                                <div class="testimonial-image">
                                    <img src="__STATIC__/index/images/testimonials/star.png" alt="images">
                                </div>
                                <div class="testimonial-author">
                                    <strong class="author-name">John Doe</strong>
                                    <div class="author-info">
                                        <span class="subtitle">Project Manager</span> 
                                        <span class="divider">-</span> 
                                        <span class="company">Company LTD</span>
                                    </div>
                                </div>
                            </div>     
                        </div><!-- /.flat-testimonial -->
                    </div><!-- /.flat-testimonial-owl -->
                </div><!-- /.col-md-8 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section><!-- /.flat-row -->

    <section class="flat-row flat-bg-white blog blog-grid pad-top70px pad-bottom20px">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="title-section">
                        <h2 class="title">Care Tips <span class="typo">&amp;</span>  Latest News</h2>
                        <p class="desc-title">Be Aware! Keep Your Vehicle Safe, Dependable and on the road longer.</p>
                   </div>
                </div><!-- /.col-md-6 -->
            </div><!-- /.row -->

            <div class="row">
                <div class="col-md-12">
                    <div class="blog-carousel-slider post-wrap">
                        <article class="entry object">
                            <div class="feature-post ">
                                <a class="img-post" href="blog-single.html">
                                    <img src="__STATIC__/index/images/blog/11.jpg" alt="image">
                                </a>
                            </div><!-- /.feature-post -->
                            <div class="main-post">
                                <h3 class="entry-title"><a href="blog-single.html">Fresh and Cool This Summer</a></h3>
                                <div class="entry-meta">
                                    <span class="entry-time">April 24, 2017</span>
                                </div>
                                <div class="entry-content">Did you know that manufacturers recommend checking your Climate Control Air Conditioning systems every two years to help keep your...
                                </div>
                            </div><!-- /.main-post -->
                        </article><!-- /.entry -->

                        <article class="entry object">
                            <div class="feature-post ">
                                <a class="img-post" href="blog-single.html">
                                    <img src="__STATIC__/index/images/blog/1.4.jpg" alt="image">
                                </a>
                            </div><!-- /.feature-post -->
                            <div class="main-post">
                                <h3 class="entry-title"><a href="blog-single.html">Steering You Right</a></h3>
                                <div class="entry-meta">
                                    <span class="entry-time">April 24, 2017</span>
                                </div>
                                <div class="entry-content">Most cars these days are fitted with power steering, which essentially means that a pump assists with the steering to make it easi...
                                </div>
                            </div><!-- /.main-post -->
                        </article><!-- /.entry -->

                        <article class="entry object">
                            <div class="feature-post ">
                                <a class="img-post" href="blog-single.html">
                                    <img src="__STATIC__/index/images/blog/3.jpg" alt="image">
                                </a>
                            </div><!-- /.feature-post -->
                            <div class="main-post">
                                <h3 class="entry-title"><a href="blog-single.html">AnyCar is now IT in Envato!</a></h3>
                                <div class="entry-meta">
                                    <span class="entry-time">April 24, 2017</span>
                                </div>
                                <div class="entry-content">Great news for motorists in Milperra, TAG Automotive has joined our ever growing network trusted mechanical workshops. As part of ...
                                </div>
                            </div><!-- /.main-post -->
                        </article><!-- /.entry -->

                        <article class="entry object">
                            <div class="feature-post ">
                                <a class="img-post" href="blog-single.html">
                                    <img src="__STATIC__/index/images/blog/2.jpg" alt="image">
                                </a>
                            </div><!-- /.feature-post -->
                            <div class="main-post">
                                <h3 class="entry-title"><a href="blog-single.html">Get Your Bearings Right</a></h3>
                                <div class="entry-meta">
                                    <span class="entry-time">April 24, 2017</span>
                                </div>
                                <div class="entry-content">If you want to keep your motor running without heat or friction developing you really need to get your bearings right. So, what... 
                                </div>
                            </div><!-- /.main-post -->
                        </article><!-- /.entry -->

                        <article class="entry object">
                            <div class="feature-post ">
                                <a class="img-post" href="blog-single.html">
                                    <img src="__STATIC__/index/images/blog/5.jpg" alt="image">
                                </a>
                            </div><!-- /.feature-post -->
                            <div class="main-post">
                                <h3 class="entry-title"><a href="blog-single.html">Go With Your Territory?</a></h3>
                                <div class="entry-meta">
                                    <span class="entry-time">April 24, 2017</span>
                                </div>
                                <div class="entry-content">It is fair to say that the Ford Territory and Falcon are two of the most popular vehicles on Australian roads.  Both of these mode...
                                </div>
                            </div><!-- /.main-post -->
                        </article><!-- /.entry -->

                        <article class="entry object">
                            <div class="feature-post ">
                                <a class="img-post" href="blog-single.html">
                                    <img src="__STATIC__/index/images/blog/6.jpg" alt="image">
                                </a>
                            </div><!-- /.feature-post -->
                            <div class="main-post">
                                <h3 class="entry-title"><a href="blog-single.html">We’ve Got You Covered</a></h3>
                                <div class="entry-meta">
                                    <span class="entry-time">April 24, 2017</span>
                                </div>
                                <div class="entry-content">We are delighted to welcome three new businesses to our ever growing network of independent mechanical workshops. Wherever you dri...
                                </div>
                            </div><!-- /.main-post -->
                        </article><!-- /.entry -->
                    </div><!-- /.blog-carousel-slider -->
                </div><!-- /.col-md-12 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section><!-- /.flat-row -->

    <section class="client">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h4 style="text-align: center;">合作伙伴</h4>
                </div>
                <div class="col-md-8">
                    <div class="wrap-img-client">
                    <a href="http://www.mantitown.com" target="_blank">
                        <img src="__STATIC__/index/images/client/5.png" alt="梦天堂网络科技">
                    </a>
                    </div>

                    <div class="wrap-img-client">
                        <img src="__STATIC__/index/images/client/2.png" alt="images">
                    </div>

                    <div class="wrap-img-client">
                        <img src="__STATIC__/index/images/client/3.png" alt="images">
                    </div>

                    <div class="wrap-img-client">
                        <img src="__STATIC__/index/images/client/4.png" alt="images">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="flat-row home-v1 gallery pad-top0px pad-bottom0px">
        <div class="flat-project flat-animation" data-animation="flipInY" data-animation-delay="0" data-animation-offset="75%">
            <div class="project-wrap five-columns ">
                <div class="object project-item entry carwash">
                    <div class="item-wrap ">
                        <div class="project-thumb">
                            <a href="gallery-grid.html">
                                <img src="__STATIC__/index/images/gallery/ga1.jpg" alt="image">
                            </a>
                        </div>
                        <div class="project-info">
                            <h3 class="project-title">
                                <a href="gallery-detail.html">Red Car</a>
                            </h3>
                            <ul class="project-categories">
                                <li><a href="gallery-detail.html">Car Wash</a></li>                                 
                            </ul>
                        </div>
                    </div><!-- /.item-wrap -->
                </div><!-- /.project-item -->

                <div class="object project-item  entry carglassing">
                    <div class="item-wrap">
                        <div class="project-thumb">
                            <a href="gallery-grid.html">
                                <img src="__STATIC__/index/images/gallery/ga2.jpg" alt="image">
                            </a>
                        </div>
                        <div class="project-info">
                            <h3 class="project-title">
                                <a href="gallery-detail.html">Green Car</a>
                            </h3>
                            <ul class="project-categories">
                                <li><a href="gallery-detail.html">Car Glassing</a></li>                                 
                            </ul>
                        </div>
                    </div><!-- /.item-wrap -->
                </div><!-- /.project-item -->

                <div class="object project-item entry  carpolishing">
                    <div class="item-wrap">
                        <div class="project-thumb">
                            <a href="gallery-grid.html">
                                <img src="__STATIC__/index/images/gallery/ga3.jpg" alt="image">
                            </a>
                        </div>
                        <div class="project-info">
                            <h3 class="project-title">
                                <a href="gallery-detail.html">Fire Car</a>
                            </h3>
                            <ul class="project-categories">
                                <li><a href="gallery-detail.html">Car Polishing</a></li>                                 
                            </ul>
                        </div>
                    </div><!-- /.item-wrap -->
                </div><!-- /.project-item -->

                <div class="object project-item  entry  carglassing">
                    <div class="item-wrap">
                        <div class="project-thumb">
                            <a href="gallery-grid.html">
                                <img src="__STATIC__/index/images/gallery/ga4.jpg" alt="image">
                            </a>
                        </div>
                        <div class="project-info">
                            <h3 class="project-title">
                                <a href="gallery-detail.html">Cars 2017</a>
                            </h3>
                            <ul class="project-categories">
                                <li><a href="gallery-detail.html">Car Glassing</a></li>                                 
                            </ul>
                        </div>
                    </div><!-- /.item-wrap -->
                </div><!-- /.project-item -->

                <div class="object project-item  entry  carglassing">
                    <div class="item-wrap">
                        <div class="project-thumb">
                            <a href="gallery-grid.html">
                                <img src="__STATIC__/index/images/gallery/ga5.jpg" alt="image">
                            </a>
                        </div>
                        <div class="project-info">
                            <h3 class="project-title">
                                <a href="gallery-detail.html">Cars 2017</a>
                            </h3>
                            <ul class="project-categories">
                                <li><a href="gallery-detail.html">Car Glassing</a></li>                                 
                            </ul>
                        </div>
                    </div><!-- /.item-wrap -->
                </div><!-- /.project-item -->
            </div><!-- /.project-wrap -->
        </div><!-- /.flat-project -->
    </section><!-- /.flat-row -->
{include file="public/footer"}