{include file="public/head,public/nav"}
            <!-- Page title -->
            <div class="flat-row page-title  parallax parallax1">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">                    
                            <div class="page-title-heading">
                                <h1 class="title">服务流程</h1>
                                <p class="subtitle">We offer you the most professional service.</p>
                            </div><!-- /.page-title-captions --> 
                            <div class="breadcrumbs">
                                <p>当前位置：</p>
                                <ul>
                                    <li><a href="#">首页</a></li>
                                    <li class="active">服务流程</li>
                                </ul>                   
                            </div><!-- /.breadcrumbs --> 
                        </div><!-- /.col-md-12 -->  
                    </div><!-- /.row -->  
                </div><!-- /.container -->                      
            </div><!-- /.page-title --> 
        </div><!--  /.site-header -->
        
        <div id="site-content">
            <!-- Services -->
            <section class="services">
                <div class="container">
                    <div class="row">
                       <div class="title-section">
                            <h2 class="title">不仅是工作，更因热爱</h2>
                            <p class="desc-title">用我们的专业知识为客户解决关于冷库的一切问题</p>
                       </div>
                       <div class="four-columns">

                            <div class="images-single object services-obj">
                                <div class="images-single-flexslider">
                                    <ul class="slides">
                                        <li>
                                            <a class="img-post popup-gallery">
                                            <img src="__STATIC__/index/images/services/shengchan/sc1.png" alt="image">
                                            </a>
                                        </li>
                                        <li>
                                            <a class="img-post popup-gallery">
                                            <img src="__STATIC__/index/images/services/shengchan/sc2.png" alt="image">
                                            </a>
                                        </li>
                                        <li>
                                            <a class="img-post popup-gallery">
                                            <img src="__STATIC__/index/images/services/shengchan/sc3.png" alt="image">
                                            </a>
                                        </li>
                                        <li>
                                            <a class="img-post popup-gallery">
                                            <img src="__STATIC__/index/images/services/shengchan/sc4.png" alt="image">
                                            </a>
                                        </li>
                                    </ul>
                                </div><!-- /.images-single-flexslider -->
                                <div class="desc-img">
                                    <h4 class="title">冷库生产现场</h4>
                                    <div class="content">上千平方米的生产厂房，完全自主生产。客户订单直接到场，即产即销，省去中间环节，没有中间商赚差价。
                                    </div>
                                </div><!-- /.desc-img -->
                            </div><!-- /.images-single -->

                            <div class="images-single object services-obj">
                                <div class="images-single-flexslider">
                                    <ul class="slides">
                                        <li>
                                            <a class="img-post popup-gallery">
                                            <img src="__STATIC__/index/images/services/yunshu/ys1.png" alt="image">
                                            </a>
                                        </li>
                                        <li>
                                            <a class="img-post popup-gallery">
                                            <img src="__STATIC__/index/images/services/yunshu/ys2.png" alt="image">
                                            </a>
                                        </li>
                                        <li>
                                            <a class="img-post popup-gallery">
                                            <img src="__STATIC__/index/images/services/yunshu/ys3.png" alt="image">
                                            </a>
                                        </li>
                                    </ul>
                                </div><!-- /.images-single-flexslider -->

                                <div class="desc-img">
                                    <h4 class="title">产品安全运输</h4>
                                    <div class="content">与多家运输公司保持长久合作关系，随叫随到。公司有专人随车，保障货物安全，最大程度的压缩销售周期，急客户之所急。
                                    </div>
                                </div><!-- /.desc-img -->
                            </div><!-- /.images-single -->

                            <div class="images-single  object services-obj">
                                <div class="images-single-flexslider">
                                    <ul class="slides">
                                        <li>
                                            <a class="img-post popup-gallery">
                                            <img src="__STATIC__/index/images/services/anzhuang/az1.png" alt="image">
                                            </a>
                                        </li>
                                        <li>
                                            <a class="img-post popup-gallery">
                                            <img src="__STATIC__/index/images/services/anzhuang/az2.png" alt="image">
                                            </a>
                                        </li>
                                    </ul>
                                </div><!-- /.images-single-flexslider -->
                                <div class="desc-img">
                                    <h4 class="title">实地上门安装</h4>
                                    <div class="content">专业的安装人员随车抵达，根据现场环境，帮助客户将冷库安装好、调试好，保证冷库的正常使用。
                                    </div>
                                </div><!-- /.desc-img -->
                            </div><!-- /.images-single -->

                            <div class="images-single  object services-obj">
                                <div class="images-single-flexslider">
                                    <ul class="slides">
                                        <li>
                                            <a class="img-post popup-gallery">
                                            <img src="__STATIC__/index/images/services/shouhou/sh1.png" alt="image">
                                            </a>
                                        </li>
                                    </ul>
                                </div><!-- /.images-single-flexslider -->
                                <div class="desc-img">
                                    <h4 class="title">完善售后服务</h4>
                                    <div class="content">公司总部有一支有着多年从业经验的售后团队，专门负责收集用户反馈，随时随地的解决客户的一切问题。
                                    </div>
                                </div><!-- /.desc-img -->
                            </div><!-- /.images-single -->

                       </div> <!-- /.three-columns -->
                        
                    </div><!-- /.row -->
                </div><!-- /.container -->   
            </section>

            <section class="section-iconbox">
                <div class="container">
                    <div class="row">
                        <div class="title-section">
                            <h2 class="title">冷库的应用场景</h2>
                            <p class="desc-title">One more thing......</p>
                        </div>
                        <div class="two-columns">
                            <div class="flat-iconbox object">
                                <div class="icon">
                                    <img src="__STATIC__/index/images/services/shiyong/sy1.jpg" style="width: 200px;">
                                </div>
                                <div class="content">
                                    <h4>保鲜冷库</h4>
                                    <p>
                                       所属行业：水果、蔬菜、茶叶、医药、化工、饮料 
                                    </p>
                                </div>
                            </div> <!-- /.flat-iconbox -->

                            <div class="flat-iconbox object">
                                <div class="icon">
                                    <img src="__STATIC__/index/images/services/shiyong/sy2.jpg" style="width: 200px;">
                                </div>
                                <div class="content">
                                    <h4>冷冻冷库</h4>
                                    <p>
                                       所属行业：酒店、食堂、屠宰场、食品、化工
                                    </p>
                                </div>
                            </div> <!-- /.flat-iconbox -->

                            <div class="flat-iconbox object">
                                <div class="icon">
                                    <img src="__STATIC__/index/images/services/shiyong/sy3.jpg" style="width: 200px;">
                                </div>
                                <div class="content">
                                    <h4>速冻冷库</h4>
                                    <p>
                                       所属行业：屠宰场、家禽分割厂
                                    </p>
                                </div>
                            </div> <!-- /.flat-iconbox -->

                            <div class="flat-iconbox object">
                                <div class="icon">
                                    <img src="__STATIC__/index/images/services/shiyong/sy4.jpg" style="width: 200px;">
                                </div>
                                <div class="content">
                                    <h4>医药冷库</h4>
                                    <p>
                                       所属行业：医药行业
                                    </p>
                                </div>
                            </div> <!-- /.flat-iconbox -->

                            <div class="flat-iconbox object">
                                <div class="icon">
                                    <img src="__STATIC__/index/images/services/shiyong/sy5.jpg" style="width: 200px;">
                                </div>
                                <div class="content">
                                    <h4>茶叶冷库</h4>
                                    <p>
                                       所属行业：茶行
                                    </p>
                                </div>
                            </div> <!-- /.flat-iconbox -->

                            <div class="flat-iconbox object">
                                <div class="icon">
                                    <img src="__STATIC__/index/images/services/shiyong/sy6.jpg" style="width: 200px;">
                                </div>
                                <div class="content">
                                    <h4>超市冷库</h4>
                                    <p>
                                       所属行业：超市保鲜、超市冷冻、零售业
                                    </p>
                                </div>
                            </div> <!-- /.flat-iconbox -->

                        </div> <!-- /.two-columns -->                        
                    </div><!-- /.row -->
                </div><!-- /.container -->   
            </section>

            <section class="flat-row contact-now parallax parallax2">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>SAVE YOUR MONEY</h3>
                            <h2>WITH <strong>DISCOUNT SPECIALS </strong> AND AUTO SERVICE <strong> COUPONS</strong></h2>
                            <a href="contact.html" class="button outline">Contact Now!</a>
                        </div>
                    </div>
                </div>
            </section>
        </div><!--/.site-content -->

{include file="public/footer"}