<div class="site-footer">
    <div class="footer-widgets">
        <div class="container">
            <div class="row">                            
                <div id="text01" class="widget widget_text ">
                    <div class="textwidget">
                        <div class="footer-info">
                            <p>
                                <img src="__STATIC__/index/images/logo2.png" alt="image">
                            </p>
                            <p>多年来公司生产的玻璃钢彩钢板，不锈钢系列装配式冷库广泛用于各大超市，宾馆以及海鲜水产保温场所，并以产品质量，贴心的售后服务，合理的市场价格，良好的公司信誉赢得广大客户的认可</p>
                            <div class="two-columns row">
                                <div class="object">
                                    <i class="fa fa-map-marker"></i>
                                    <strong>安徽省蚌埠市东海大道888号星宇文化创意产业园B区2-5号房屋325室</strong> <br>
                                    <i class="fa fa-phone"></i>
                                    <strong>办公电话:</strong> 0550-2330155
                                </div>
                                <div class="object ft-phone">
                                    <i class="fa fa-tablet"></i>
                                    <strong>业务电话: </strong>18105523833<br>
                                    <i class="fa fa-envelope"></i>
                                    <strong>邮箱:</strong>
                                    <a href="#">123@123.com</a>
                                </div>
                            </div><!-- /.row -->
                            <p>技术支持：<a href="#"><b>滁州市梦天堂网络科技有限公司</b></a></p>
                        </div>
                    </div>
                </div>
                <div class="widget widget_nav_menu">
                    <h3 class="widget-title">谢氏制冷</h3>
                    <div class="menu-sample-pages-container">
                        <ul  class="menu">
                            <li ><a href="#">公司简介</a></li>
                            <li ><a href="#">联系我们</a></li>
                            <li ><a href="#">服务流程</a></li>
                            <li ><a href="#">新闻中心</a></li>
                            <li ><a href="#">网站地图</a></li>
                        </ul>
                    </div>
                </div>
           
                <div class="widget widget_nav_menu">
                    <h3 class="widget-title">产品中心</h3>
                    <div class="menu-sample-pages-container">
                        <ul  class="menu">
                            <li ><a href="#">冷库板</a></li>
                            <li ><a href="#">冷库门</a></li>
                            <li ><a href="#">制冷机组</a></li>
                            <li ><a href="#">风幕机</a></li>
                            <li ><a href="#">冷风机</a></li>
                            <li ><a href="#">冷库排管</a></li>
                        </ul>
                    </div>
                </div>
            
                <div class="widget widget_nav_menu">
                    <h3 class="widget-title">工程案例</h3>
                    <div class="menu-sample-pages-container">
                        <ul  class="menu">
                            <li ><a href="#">冷库板</a></li>
                            <li ><a href="#">冷库门</a></li>
                            <li ><a href="#">制冷机组</a></li>
                            <li ><a href="#">风幕机</a></li>
                            <li ><a href="#">冷风机</a></li>
                            <li ><a href="#">冷库排管</a></li>
                        </ul>
                    </div>
                </div>                        
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.footer-widgets -->
    <div class="footer-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="copyright">
                        <div class="social-links">
                        <a href="#">
                            <i class="fa iconfont icon-taobao"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-qq"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-weixin"></i>
                        </a>
                        <a href="#">
                            <i class="fa iconfont icon-alibaba"></i>
                        </a>
                    </div><!-- /.social-links -->
                        <div class="copyright-content">
                            Copyright &copy; 2017.Company name All rights reserved.
                        </div><!-- /.copyright-content -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Go Top -->
    <a class="go-top">
    </a> 
</div>

</div><!-- /.site-wrapper -->    

<!-- Javascript -->
<script type="text/javascript" src="__STATIC__/index/javascript/jquery.min.js"></script>
<script type="text/javascript" src="__STATIC__/index/javascript/bootstrap.min.js"></script>
<script type="text/javascript" src="__STATIC__/index/javascript/owl.carousel.js"></script>
<script type="text/javascript" src="__STATIC__/index/javascript/jquery.flexslider-min.js"></script>
<script type="text/javascript" src="__STATIC__/index/javascript/jquery.magnific-popup.min.js"></script>
<script type="text/javascript" src="__STATIC__/index/javascript/jquery.sticky.js"></script>
<script type="text/javascript" src="__STATIC__/index/javascript/jquery.easing.js"></script>
<!----<script type="text/javascript" src="http://ditu.google.cn/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="__STATIC__/index/javascript/gmap3.min.js"></script>---->
<script type="text/javascript" src="__STATIC__/index/javascript/parallax.js"></script>
<script type="text/javascript" src="__STATIC__/index/javascript/imagesloaded.min.js"></script>
<script type="text/javascript" src="__STATIC__/index/javascript/jquery.isotope.min.js"></script>
<script type="text/javascript" src="__STATIC__/index/javascript/jquery-waypoints.js"></script>
<script type="text/javascript" src="__STATIC__/index/javascript/jquery.cookie.js"></script>
<script type="text/javascript" src="__STATIC__/index/javascript/main.js"></script>

<!-- Revolution Slider -->
<script type="text/javascript" src="__STATIC__/index/javascript/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="__STATIC__/index/javascript/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="__STATIC__/index/javascript/slider.js"></script>


</body>
</html>