<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"><!--<![endif]-->
<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <title>安徽谢氏制冷科技有限公司</title>

    <link rel="SHORTCUT ICON" href="__STATIC__/index/images/favicon.ico"> 

    <meta name="author" content="themesflat.com">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Bootstrap  -->
    <link rel="stylesheet" type="text/css" href="__STATIC__/index/stylesheets/bootstrap.css" >
 
    <!-- Theme Style -->
    <link rel="stylesheet" type="text/css" href="__STATIC__/index/stylesheets/style.css">

    <!-- Responsive -->
    <link rel="stylesheet" type="text/css" href="__STATIC__/index/stylesheets/responsive.css">

    <!-- Colors -->
    <link rel="stylesheet" type="text/css" href="__STATIC__/index/stylesheets/colors/color1.css" id="colors">
    
    <!-- Favicon and touch icons  -->
    <link href="icon/apple-touch-icon-48-precomposed.png" rel="apple-touch-icon-precomposed" sizes="48x48">
    <link href="icon/apple-touch-icon-32-precomposed.png" rel="apple-touch-icon-precomposed">

    <link href="http://at.alicdn.com/t/font_qu5oo96u5zttvs4i.css" type="text/css" rel="stylesheet">

    <!--[if lt IE 9]>
        <script src="javascript/html5shiv.js"></script>
        <script src="javascript/respond.min.js"></script>
    <![endif]-->
</head>                                 
<body class="header-sticky">
    <div id="site-wrapper">
        <!-- Site-header -->
        <div id="site-header">
            <div id="headerbar">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="custom-info">
                                <i class="fa fa-clock-o">
                                </i>服务时间: 周一 ~ 周五, 早8:00 ~ 晚18:00
                            </div><!-- /.custom-info -->

                            <div class="social-links">
                                <a href="#">
                                    <i class="fa iconfont icon-taobao"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-qq"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-weixin"></i>
                                </a>
                                <a href="#">
                                    <i class="fa iconfont icon-alibaba"></i>
                                </a>
                            </div><!-- /.social-links -->

                            <nav id="site-navigator" class="top-navigator">
                                <ul id="menu-top-menu" class="menu">
                                    <li>
                                    <i class="fa fa-phone-square" aria-hidden="true"></i>
                                    <a href="#">咨询热线：181-0552-3833</a>
                                    </li>
                                </ul>
                            </nav>
                            <!-- /.top-navigator -->
                        </div>
                    </div>
                </div><!-- /.container -->
            </div><!-- /.headerbar -->