<!-- nav -->            
<header id="header" class="header clearfix">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="header-wrap clearfix">
                    <div id="logo" class="logo">
                        <a href="index.html" rel="home">
                            <img src="__STATIC__/index/images/logo2.png" alt="image">
                        </a>
                    </div><!-- /.logo -->
                    <div class="nav-wrap">
                        <div class="btn-menu"></div><!-- //mobile menu button -->
                        <nav id="mainnav" class="mainnav">
                            <ul class="menu"> 
                                <li><a href="index.html">首页</a></li>
                                <li><a href="__URL__/about.html">公司简介</a></li>
                                <li><a href="__URL__/services.html">服务流程<span class="caret"></span></a>
                                    <ul class="submenu"> 
                                        <li><a href="blog-default.html">生产流程</a></li>
                                        <li><a href="blog-single.html">送配流程</a></li>
                                        <li><a href="blog-single.html">安装流程</a></li>
                                        <li><a href="blog-single.html">售后流程</a></li>
                                        <li><a href="blog-single.html">产品应用范围</a></li>
                                    </ul><!-- /.submenu -->
                                </li>

                                <li><a href="blog-default.html">新闻中心<span class="caret"></span></a>
                                    <ul class="submenu"> 
                                        <li><a href="blog-default.html">行业资讯</a></li>
                                        <li><a href="blog-single.html">公司新闻</a></li>
                                    </ul><!-- /.submenu -->
                                </li>                 
                                <li><a href="gallery.html">产品中心<span class="caret"></span></a>
                                    <ul class="submenu"> 
                                        <li><a href="blog-default.html">冷库板</a></li>
                                        <li><a href="blog-single.html">冷库门</a></li>
                                        <li><a href="blog-single.html">制冷机组</a></li>
                                        <li><a href="blog-single.html">风幕机</a></li>
                                        <li><a href="blog-single.html">冷风机</a></li>
                                        <li><a href="blog-single.html">冷库排管</a></li>
                                    </ul><!-- /.submenu -->
                                </li>                         
                                <li><a href="shop.html">工程案例<span class="caret"></span></a>
                                     <ul class="submenu"> 
                                        <li><a href="blog-default.html">冷库板</a></li>
                                        <li><a href="blog-single.html">冷库门</a></li>
                                        <li><a href="blog-single.html">制冷机组</a></li>
                                        <li><a href="blog-single.html">风幕机</a></li>
                                        <li><a href="blog-single.html">冷风机</a></li>
                                        <li><a href="blog-single.html">冷库排管</a></li>
                                    </ul><!-- /.submenu -->
                                </li>

                                <li><a href="blog-default.html">联系我们<span class="caret"></span></a>
                                    <ul class="submenu"> 
                                        <li><a href="blog-default.html">公司地址</a></li>
                                        <li><a href="blog-single.html">联系电话</a></li>
                                    </ul><!-- /.submenu -->
                                </li> 
                            </ul><!-- /.menu -->
                        </nav><!-- /.mainnav -->
                        <ul class="menu-extra">
                            <li class="shopping-cart">
                                <a href="#">
                                    <i class="fa fa-comments-o"></i>
                                    <span class="shopping-cart-items-count">2</span>
                                </a>
                                <div class="submenu">
                                    <div class="widget_shopping_cart_content">
                                        <ul class="cart_list product_list_widget ">
                                            <li>
                                                <a href="#" class="box-img">
                                                    <img src="__STATIC__/index/images/shop/1-180x180.jpg" alt="images">
                                                </a>
                                                <div class="content-box">
                                                    <a href="#">谢氏制冷随手向您丢了一张一千元的优惠券并呼唤您快来领取~
                                                    </a>
                                                    <span class="quantity" style="color: red;font-size: 20px;margin-left: 25%;">
                                                            &yen;1000RMB
                                                    </span>
                                                </div>
                                            </li>
                                            <li>
                                                <a href="#" class="box-img">
                                                    <img src="__STATIC__/index/images/shop/2-180x180.jpg" alt="images">
                                                </a>
                                                <div class="content-box">
                                                    <a href="#">制冷工程师向您招手说他有句悄悄话想和您说~
                                                    </a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul> <!-- /.menu-extra -->  
                    </div><!-- /.nav-wrap -->
                    
                </div><!-- /.header-wrap -->
            </div>
        </div> <!-- /.row -->
    </div> <!--  /.container -->
</header><!-- /.nav -->